DATABASE_URL=postgresql://postgres:password@localhost:5432/lord_db
SECRET_KEY=CHANGE_ME_SUPER_SECRET
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Admin seed (OTP yo‘q)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=sotiboldi22

# Business
INITIAL_USER_BALANCE=1000.00

# CORS
ALLOWED_ORIGINS=*